@page
@model CinemaProject.Pages.Tickets.BoughtTicketModel
@{
}

<h1>You have already bought the ticket</h1>
<hr />
<div class="col-sm-4">
    
        <a asp-page="../Index">
            Back to Main Page
        </a>
   

</div>