@page
@model CinemaProject.Pages.Tickets.BuyTicketModel
@{
}

<h1>Buy tocket</h1>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Screening.ScreeningId" />
            <div class="form-group">
                <label asp-for="Ticket.UserUserId" class="control-label"></label>
                <input asp-for="Ticket.UserUserId" class="form-control" value="@((int)Model.ThisUser.UserId)" />
                
            </div>
            <div class="form-group">
                <label asp-for="Ticket.ScreeningScreeningId" class="control-label"></label>
                <input asp-for="Ticket.ScreeningScreeningId" class="form-control" value="@((int)Model.Screening.ScreeningId)" />
            
            </div>
            <div class="form-group">
                <label asp-for="Ticket.Date" class="control-label"></label>
                <input asp-for="Ticket.Date" class="form-control" value="@DateTime.Now.ToString()" />

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

