@page
@model CinemaProject.Pages.Screenings.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Screening</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Screening.ScreeningId" class="control-label"></label>
                <input asp-for="Screening.ScreeningId" class="form-control" />
                <span asp-validation-for="Screening.ScreeningId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Screening.MovieMovieId" class="control-label"></label>
                <select asp-for="Screening.MovieMovieId" class ="form-control" asp-items="ViewBag.MovieMovieId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Screening.RoomRoomId" class="control-label"></label>
                <select asp-for="Screening.RoomRoomId" class ="form-control" asp-items="ViewBag.RoomRoomId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Screening.Price" class="control-label"></label>
                <input asp-for="Screening.Price" class="form-control" />
                <span asp-validation-for="Screening.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Screening.LanguageversionLvId" class="control-label"></label>
                <select asp-for="Screening.LanguageversionLvId" class ="form-control" asp-items="ViewBag.LanguageversionLvId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
