@page
@model CinemaProject.Pages.Reviews.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Review</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Review.ReviewId" />
            <div class="form-group">
                <label asp-for="Review.Content" class="control-label"></label>
                <textarea asp-for="Review.Content" class="form-control" rows="6" ></textarea>
                <span asp-validation-for="Review.Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.Rating" class="control-label"></label>
                <input asp-for="Review.Rating" class="form-control" />
                <span asp-validation-for="Review.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.MovieMovieId" class="control-label"></label>
                <select asp-for="Review.MovieMovieId" class="form-control" asp-items="ViewBag.MovieMovieId"></select>
                <span asp-validation-for="Review.MovieMovieId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Review.UserUserId" class="control-label"></label>
                <select asp-for="Review.UserUserId" class="form-control" asp-items="ViewBag.UserUserId"></select>
                <span asp-validation-for="Review.UserUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Review.Creationdate" type="hidden" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
