@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h3>Movie Related</h3>
<hr />
<div class="list-group">
    <a asp-page="/Actors/Index" class="list-group-item list-group-item-action">
        Actors
    </a>
    <a asp-page="/Awards/Index" class="list-group-item list-group-item-action">Awards</a>
    <a asp-page="/Directors/Index" class="list-group-item list-group-item-action">Directors</a>
    <a asp-page="/Genres/Index" class="list-group-item list-group-item-action">Genres</a>
    <a asp-page="/LanguageVersions/Index" class="list-group-item list-group-item-action">Language Versions</a>
    <a asp-page="/Movies/Index" class="list-group-item list-group-item-action">Movies</a>
</div>
<h3 class="mt-2">Screening Related</h3>
<hr />
<div class="list-group">
    <a asp-page="/Cinemas/Index" class="list-group-item list-group-item-action">
        Cinemas
    </a>
    <a asp-page="/Rooms/Index" class="list-group-item list-group-item-action">Rooms</a>
    <a asp-page="/Screenings/Index" class="list-group-item list-group-item-action">Screenings</a>
</div>
<h3 class="mt-2">Articles</h3>
<hr />
<div class="list-group">
    <a asp-page="/Articles/Index" class="list-group-item list-group-item-action">Articles</a>
</div>
